@use "@/mixins" as *;

.SimkungHeader {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: var(--header-padding);
  transform: translate(-50%, 0);
  width: calc(100% - 2 * var(--header-padding));
  height: 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 150ms ease-out;
  border: 2px solid var(--base-900);
  background-color: var(--base-100);
  border-radius: 0.6rem;
  box-shadow: 0.4rem 0.4rem 0 var(--base-500);

  &__logo {
    display: flex;
    a {
      display: flex;
      align-items: center;
      z-index: 2;
      padding: 1rem;
      border-radius: 9999px;
      border: 2px solid transparent;
      @include clickable-btn(0.4rem, var(--base-300), var(--base-500));

      img {
        width: 2.5rem;
        margin-right: 0.5rem;
      }
      .text {
        font-size: 1.7rem;
        font-weight: 700;
        color: var(--text-100);
      }
    }
  }
}
