:root {
  --text-900: hsl(335, 100%, 6%);
  --text-800: hsl(335, 100%, 12%);
  --text-700: hsl(335, 100%, 18%);
  --text-600: hsl(335, 100%, 24%);
  --text-500: hsl(335, 100%, 30%);
  --text-400: hsl(335, 100%, 36%);
  --text-300: hsl(335, 100%, 42%);
  --text-200: hsl(335, 100%, 48%);
  --text-100: hsl(335, 100%, 54%);

  --theme-900: hsl(34, 100%, 10%);
  --theme-800: hsl(34, 100%, 20%);
  --theme-700: hsl(34, 100%, 30%);
  --theme-600: hsl(34, 100%, 40%);
  --theme-500: hsl(34, 100%, 50%);
  --theme-400: hsl(34, 100%, 65%);
  --theme-300: hsl(34, 100%, 80%);
  --theme-200: hsl(34, 100%, 90%);
  --theme-100: hsl(34, 100%, 95%);

  --bg-900: hsl(0, 5%, 15%);
  --bg-800: hsl(0, 5%, 30%);
  --bg-700: hsl(0, 5%, 45%);
  --bg-600: hsl(0, 5%, 55%);
  --bg-500: hsl(0, 5%, 65%);
  --bg-400: hsl(0, 5%, 75%);
  --bg-300: hsl(0, 5%, 85%);
  --bg-200: hsl(0, 5%, 95%);
  --bg-100: hsl(0, 0%, 100%);

  --header-bg--scrolled: hsla(0, 5%, 95%, 0.8);
}

:root[data-theme="dark"] {
  --text-900: hsl(210, 20%, 95%);
  --text-800: hsl(210, 20%, 90%);
  --text-700: hsl(210, 20%, 70%);
  --text-600: hsl(210, 20%, 60%);
  --text-500: hsl(210, 20%, 50%);
  --text-400: hsl(210, 20%, 40%);
  --text-300: hsl(210, 20%, 30%);
  --text-200: hsl(210, 20%, 20%);
  --text-100: hsl(210, 29%, 10%);

  --bg-900: hsl(0, 5%, 78%);
  --bg-800: hsl(0, 5%, 64%);
  --bg-700: hsl(0, 5%, 48%);
  --bg-600: hsl(0, 5%, 34%);
  --bg-500: hsl(0, 5%, 27%);
  --bg-400: hsl(0, 5%, 20%);
  --bg-300: hsl(0, 5%, 13%);
  --bg-200: hsl(0, 5%, 10%);
  --bg-100: #000;
  --anime-item-head-700: hsl(288, 79%, 3%);
  --anime-item-head-500: hsl(288, 79%, 5%);
  --anime-item-head-300: hsl(288, 79%, 7%);
  --overflow-btn-pc: hsla(0, 5%, 10%, 0.7);

  --top-item: hsl(0, 5%, 7%);
  --episodes: var(--bg-300);
  --episodes-part-info: hsla(0, 5%, 13%, 0.5);
  --anime-useful-widget: hsl(0, 5%, 20%);
  --anime-genre: hsla(0, 5%, 13%, 0.8);

  --box-shadow: none;
  --overflow-gradient: linear-gradient(
    90deg,
    var(--top-item),
    transparent,
    var(--top-item)
  );
  --new-review: var(--bg-100);
  --chart-legend: var(--bg-100);
}
