@use "@/mixins" as *;

.WorldcupCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  border: 2px solid var(--base-800);
  border-radius: 0.6rem;

  .text {
    margin-top: 0.75rem;
  }
  &__Title {
    a {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.4;
    }
    margin-bottom: 0.7rem;
  }
  &__Summary {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .tags {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    .tag {
      display: flex;
      margin-bottom: 0.5rem;
      a {
        border-radius: 0.3rem;
        padding: 0.5rem 0.75rem;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: var(--text-100);
        @include clickable-btn(0.25rem, var(--text-200), var(--text-300));
      }
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  .actions {
    float: left;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: 1.5rem;
  }
  &__ActionBtn {
    display: flex;
    width: 4.5rem;
    height: 4.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    border: 2px solid var(--base-800);
    &:not(:last-child) {
      margin-right: 0.7rem;
    }
  }
}
