:root {
  --base-900: hsl(335, 100%, 6%);
  --base-800: hsl(335, 100%, 12%);
  --base-700: hsl(335, 100%, 18%);
  --base-600: hsl(335, 100%, 24%);
  --base-500: hsl(335, 100%, 30%);
  --base-400: hsl(335, 100%, 36%);
  --base-300: hsl(335, 100%, 42%);
  --base-200: hsl(335, 100%, 48%);
  --base-100: hsl(335, 100%, 54%);

  --theme-900: hsl(34, 100%, 10%);
  --theme-800: hsl(34, 100%, 20%);
  --theme-700: hsl(34, 100%, 30%);
  --theme-600: hsl(34, 100%, 40%);
  --theme-500: hsl(34, 100%, 50%);
  --theme-400: hsl(34, 100%, 65%);
  --theme-300: hsl(34, 100%, 80%);
  --theme-200: hsl(34, 100%, 90%);
  --theme-100: hsl(34, 100%, 95%);

  --text-900: hsl(210, 20%, 15%);
  --text-800: hsl(210, 20%, 30%);
  --text-700: hsl(210, 20%, 45%);
  --text-600: hsl(210, 20%, 55%);
  --text-500: hsl(210, 20%, 65%);
  --text-400: hsl(210, 20%, 75%);
  --text-300: hsl(210, 20%, 85%);
  --text-200: hsl(210, 20%, 95%);
  --text-100: hsl(210, 20%, 95%);

  --header-bg--scrolled: hsla(335, 100%, 54%, 0.95);
}

:root[data-theme="dark"] {
  --text-900: hsl(210, 20%, 95%);
  --text-800: hsl(210, 20%, 90%);
  --text-700: hsl(210, 20%, 70%);
  --text-600: hsl(210, 20%, 60%);
  --text-500: hsl(210, 20%, 50%);
  --text-400: hsl(210, 20%, 40%);
  --text-300: hsl(210, 20%, 30%);
  --text-200: hsl(210, 20%, 20%);
  --text-100: hsl(210, 29%, 10%);
}
